doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Baloo+Bhaina|Lato:300,400,700', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    link(rel='stylesheet', type='text/css', href='/css/animate.css')
    title El mejor lugar para comprar juegos del mundo
  body
    section.col-md-4.center-block.quitar-float.text-center.espacio-arriba
      img.animated.fadeIn(src='img/logo.png')
      h1.baloo.azul.animated.fadeIn.retraso-1 Juegos Calidad
      .animated.fadeInDown.retraso-2
        h2 Ven y gasta tu dinero
        p Somos una empresa reconocida a nivel mundial
        nav
          a.espacio-derecha(href='/menu') Menu
          |  
          a.espacio-derecha(href='contacto.html') Contacto