extends ../layout.pug
block contenido
  div(class='col-md-5 center-block quitar-float top-space text-left')
    h1 Editar producto
    //- '?_method=PUT' sirve para decirle al servidor que en realidad se esta enviando un metodo PUT, y no un POST
    //-  se usa asi porque los navegadores no soportan el metodo PUT en un form
    //- el _method es lo que lee el method-override en la app.js
    form(method='post' action='/menu/'+product.id+'?_method=PUT' style='margin-top:1.5em;' enctype='multipart/form-data')
      div(class='form-group')
        label Nombre
        input(type='text' name='title' value=product.title placeholder='Nombre del producto' class='form-control')
      div(class='form-group')
        label Decripcion
        textarea(name='description'  placeholder='Descripcion del producto' class='form-control')
          =product.description
      div(class='form-group')
        label Costo
        input(type='number' name='pricing' placeholder='Precio' class='form-control' value=product.pricing)
      div(class='form-group')
        label Imagen del producto
        input(type='file' name='image')
      div(class='form-group')
        label Contraseña
        input(type='password' name='password' placeholder='Password' class='form-control')
      div(class='form-group text-right')
        input(type='submit' class='btn btn-info' value='Guardar')
