extends ../layout.pug
block contenido
	h2(class="baloo big blue") Menú
	p Juegos de maximo nivel en tu pc
	//-each in va iterando los products que se buscaron con mongoose
	each product in products
		div(class="col-md-4 col-sm-6 col-xs-12 inline-block")
			//-con #{} quiere decir que tiene que ejecutar codigo javascript, este caso el titulo del product
			h3(class="baloo") #{product.title}
			img(src=product.imageUrl class="col-xs-7 col-md-4 no-float")
			//- aqui se utiliza el #[] para decir que es una etiqueta small dentro de la etiqueta p
			p(style="margin-top:1em;") #[small(class="small") #{product.pricing}USD]
